<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2bb08060c3ca9bd5c66bbd70098667e4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_2bb08060c3ca9bd5c66bbd70098667e4" ></div>
        
</body>
<script>
    
    
            var map_2bb08060c3ca9bd5c66bbd70098667e4 = L.map(
                "map_2bb08060c3ca9bd5c66bbd70098667e4",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 1,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_848313ac36564df9684c839ef83b6fa0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_848313ac36564df9684c839ef83b6fa0.addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
            tile_layer_848313ac36564df9684c839ef83b6fa0.addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
            var marker_a0fa2eef1b3cbd2131ff2488cd403e0f = L.marker(
                [12.0, 12.0],
                {
}
            ).addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
            var icon_d190c16723b849321b913b02140dcc89 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d3c5ba3c2f9b3a854714ffd3429cddf0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4ed8a6028d15f14abf947a5645394349 = $(`<div id="html_4ed8a6028d15f14abf947a5645394349" style="width: 100.0%; height: 100.0%;"><img src=templates/static/images/2025-09-16_img010.JPG ><b>aaa</b><br>bbb<br><b>criado em 2025-09-16</b></div>`)[0];
                popup_d3c5ba3c2f9b3a854714ffd3429cddf0.setContent(html_4ed8a6028d15f14abf947a5645394349);
            
        

        marker_a0fa2eef1b3cbd2131ff2488cd403e0f.bindPopup(popup_d3c5ba3c2f9b3a854714ffd3429cddf0)
        ;

        
    
    
            marker_a0fa2eef1b3cbd2131ff2488cd403e0f.bindTooltip(
                `<div>
                     Clique para mais info
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a0fa2eef1b3cbd2131ff2488cd403e0f.setIcon(icon_d190c16723b849321b913b02140dcc89);
            
    
            var marker_e767d974f5903b097da3c69fc2252f2f = L.marker(
                [-12.0, -12.0],
                {
}
            ).addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
            var icon_9589da0408eb3f7646546eff54f0440a = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ebdf6ca1f91ca406446611d833c5f85d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_44db4d3bac3fac68642490b12834fbc2 = $(`<div id="html_44db4d3bac3fac68642490b12834fbc2" style="width: 100.0%; height: 100.0%;"><img src=static/images/2025-09-17_logoHealthSeven.png ><b>bbbbb</b><br>aaaa<br><b>criado em 2025-09-17</b></div>`)[0];
                popup_ebdf6ca1f91ca406446611d833c5f85d.setContent(html_44db4d3bac3fac68642490b12834fbc2);
            
        

        marker_e767d974f5903b097da3c69fc2252f2f.bindPopup(popup_ebdf6ca1f91ca406446611d833c5f85d)
        ;

        
    
    
            marker_e767d974f5903b097da3c69fc2252f2f.bindTooltip(
                `<div>
                     Clique para mais info
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_e767d974f5903b097da3c69fc2252f2f.setIcon(icon_9589da0408eb3f7646546eff54f0440a);
            
    
            tile_layer_848313ac36564df9684c839ef83b6fa0.addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
                marker_a0fa2eef1b3cbd2131ff2488cd403e0f.setIcon(icon_d190c16723b849321b913b02140dcc89);
            
    
                marker_e767d974f5903b097da3c69fc2252f2f.setIcon(icon_9589da0408eb3f7646546eff54f0440a);
            
    
            var marker_69e614b6277c2f6eea84616a191ad896 = L.marker(
                [12.0, 12.0],
                {
}
            ).addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
            var icon_8bbc279d23fda20414af7b1f1a949dc7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4b7d08e64e9adf6d2a92bacfc53cfcab = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_569929665a0a8ccd56309715d5646a52 = $(`<div id="html_569929665a0a8ccd56309715d5646a52" style="width: 100.0%; height: 100.0%;"><img src=templates/static/images/2025-09-16_img010.JPG ><b>aaa</b><br>bbb<br><b>criado em 2025-09-16</b></div>`)[0];
                popup_4b7d08e64e9adf6d2a92bacfc53cfcab.setContent(html_569929665a0a8ccd56309715d5646a52);
            
        

        marker_69e614b6277c2f6eea84616a191ad896.bindPopup(popup_4b7d08e64e9adf6d2a92bacfc53cfcab)
        ;

        
    
    
            marker_69e614b6277c2f6eea84616a191ad896.bindTooltip(
                `<div>
                     Clique para mais info
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_69e614b6277c2f6eea84616a191ad896.setIcon(icon_8bbc279d23fda20414af7b1f1a949dc7);
            
    
            var marker_afa02aad3047f3d27b7af4056382268d = L.marker(
                [-12.0, -12.0],
                {
}
            ).addTo(map_2bb08060c3ca9bd5c66bbd70098667e4);
        
    
            var icon_3e7af9084c228bd7011fca3c19f11aa5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f1a27b2270b7d71c1c2a436ec46a4d38 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c2a907495d31a000b6054b3e5aaa427a = $(`<div id="html_c2a907495d31a000b6054b3e5aaa427a" style="width: 100.0%; height: 100.0%;"><img src=static/images/2025-09-17_logoHealthSeven.png ><b>bbbbb</b><br>aaaa<br><b>criado em 2025-09-17</b></div>`)[0];
                popup_f1a27b2270b7d71c1c2a436ec46a4d38.setContent(html_c2a907495d31a000b6054b3e5aaa427a);
            
        

        marker_afa02aad3047f3d27b7af4056382268d.bindPopup(popup_f1a27b2270b7d71c1c2a436ec46a4d38)
        ;

        
    
    
            marker_afa02aad3047f3d27b7af4056382268d.bindTooltip(
                `<div>
                     Clique para mais info
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_afa02aad3047f3d27b7af4056382268d.setIcon(icon_3e7af9084c228bd7011fca3c19f11aa5);
            
</script>
</html>